body {
    background-color: black;
    font-family: Arial;
    color: white;
    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;          
    height: 100vh;
    margin: 0;
}

h1 {
    color: grey;
    font-family: Verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 30px;
    margin-top: 200px;
    border-radius: 10px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    margin-top: auto;  
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    color: #aaa;
}
